<% if @article.errors.any? %>
<h2>The following errors prevented this story from being saved: </h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-md-12">
    
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    
      <!--title-->
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :title, "Story Title" %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :title, class: "form-control", placeholder: "", autofocus: true %>
        </div>
      </div>
      
      <!--city-->
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :city, "City" %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :city, class: "form-control", placeholder: "", autofocus: true %>
        </div>
      </div>
      
      <!--country-->
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :country, "Country" %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :country, class: "form-control", placeholder: "", autofocus: true %>
        </div>
      </div>
      
      <!--description-->
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :description, "Your Story" %>
        </div>
        <div class="col-sm-8">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "", autofocus: true %>
        </div>
      </div>
      
      <!--submit button-->
      <div class="form-group text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <%= f.submit class: 'btn btn-success btn-lg' %>
        </div>
      </div>
      
    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
      <%= link_to "Cancel Submission and Return to All Stories", articles_path %>
    </div>
  </div>
</div>

