<h2 class="text-center"><%= @article.title %></h2>
</br>
<div class="well col-xs-10 col-xs-offset-1">
  <% if @article.user %>
    <ul class="listing">
      <div class="row center">
        <div class="col-md-12 ">
          
          <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
          <li class="article-title">
            <%= link_to @article.user.username, user_path(@article.user) %>
          </li>
          <li><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
          </small></li>
          
        </div>
      </div>
    </ul>
  <% end %>
    
  <p><strong>Country:</strong> <%= @article.country %></p>

  <p><strong>City:</strong> <%= @article.city %></p>
  
<!--Category -->
  <% if @article.categories.any? %>
    <p><strong>Category:  </strong> <%= render @article.categories %></p>
  <% end %>
<!--End Category-->
  
  <hr>
  <p><strong>My Story:</strong> </br> </br> 
  <%= @article.description %></p>

  <div class="article-actions text-center">
    <%= link_to "Back to All Stories", articles_path, class: "btn btn-xs btn-primary" %>  
    
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>| 
      <%= link_to "Edit this Story", edit_article_path(@article), class: "btn btn-xs btn-warning" %> |
      <%= link_to "Delete this Story", article_path(@article), method: :delete, 
                                          data: { confirm: "Are you sure you want to delete this story?" }, 
                                          class: "btn btn-xs btn-danger" %>
    <% end %>
  </div>
</div>



<!-- Comments section -->

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if @comments.any? %>
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center"><%= pluralize(@article.comment_count, 'comment') %>:</h3>
          <%= will_paginate @comments %>
        </div>
      </div>
    <% end %>
    
    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <hr>
        <div class="row">
          <div class="col-md-2 offset-1">
            <section class="user_info comment_img center">
              <%= link_to gravatar_for(comment.user, size: 70), user_path(comment.user) %>
            </section>
          </div>
          <div class="col-md-9">
             <p class="inline-text">
               <span class="quiet"><small><strong><%= link_to comment.user.username, user_path(comment.user) %></strong>  <%= time_ago_in_words(comment.created_at) %> ago  </small></span>
             </p>
            <span class="quiet"><%= comment.body %></span>
            
            
          </div>
        </div>
       <% end %>
       <hr>
    <% end %>
  </div>
</div>

<% if !logged_in? %>
  <div class="row">
    <div class="col-md-12 comment-footer">
      <p>You can comment when you log in. <br> Please <%= link_to "log in", login_path %> or <%= link_to "Sign up", register_path %> . </p></p>
    </div>
  </div>
<% end %>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-8  col-md-offset-2">
      <h3 class="text-center">Leave a comment</h3>
      
        <%= form_for([@article,@comment]) do |f| %>
          <!-- Error section -->
          <% if @comment.errors.any? %>
            <div class="row">
              <div class="alert alert-danger col-md-8 col-md-offset-2">
                <h5>Please correct the following error(s):</h5>
                <ul>
                  <% @comment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          <!-- Error ends -->
        <div class="well">

          <div class="control-group">
        
            <%= f.text_area :body, class: "col-md-12 comment-text", rows: "7", placeholder: "Say something nice!" %>
        
          <div class="text-center">
            <%= f.submit 'Post Comment', class: "btn btn-success btn-md text-center" %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
<% end %>