<body class ="image responsive index-users-bg">
  <h1 class="text-center">All Story Writers</h1>
  
<div class="text-center">
  <%= will_paginate %>
  <div class="row">

      <div class="col-md-8 col-md-offset-2 well">
        <% @users.each do |user| %>
          <ul class="listing">
            <div class="col-md-3 text-center">

                  <li><%= link_to gravatar_for(user), user_path(user) %></li>
                    <div class="user-index-bg">
                      <li class="article-title">
                        <%= link_to user.username, user_path(user) %></li>
                      <li>
                        <small>
                          <%= pluralize(user.articles.count, "article") if user.articles %>
                        </small>
                      </li>
                    </div>

                </br>
                <% if logged_in? and current_user.admin? %>
                  <li><%= link_to "Delete User", user_path(user), method: :delete, class: "btn btn-danger",
                                data: { confirm: "Are you sure you want to delete this user and all associated stories?" } %> </li>
                <% end %>          
            </div>
          </ul>
        <% end %>

    <%= will_paginate %>
</div>
</body>
