<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Travel Stories", root_path, class:"navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        
          <li><%= link_to "All Stories", articles_path %></li>
          <li><%= link_to "All Users", users_path %></li>
          <li><%= link_to "Travel Categories", categories_path %></li>
        
          
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><%= " | Admin" if current_user.admin? %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              
              <% if current_user.admin? %>
              
              <li><li><%= link_to "New Story", new_article_path %></li></li>
              <li><%= link_to 'New Category', new_category_path %></li>
              
              <% end %>
              
              <li><li><%= link_to "View my Profile", user_path(current_user) %></li></li>
              <li><li><%= link_to "Settings", edit_user_path(current_user) %></li></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Logout', logout_path, method: :delete %> </li>
            </ul>
          </li>
          
        <% else %>
        
          <li><%= link_to 'Login', login_path %> </li>
          <li><%= link_to 'Signup', signup_path %> </li>
          
        <% end %>
        
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>